* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(141, 139, 139);
}

#menu-interativo {
    background-color: black;
    padding: 20px 20px 120px 20px;
}

#menu-interativo,
h1 {
    text-align: center;
    color: white;
}

#menu-interativo,
img {
    text-align: center;
    margin-bottom: 2px;
    height: 200px;
}

#navegacao-menu {
    background-color: black;
    border-radius: 50px;
    padding: 0px;
}

button {
    background-color: rgba(255, 230, 7, 0.979);
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
}

a {
    text-decoration: none;
    color: black;
}

#palhaco:hover {
    background-color: rgb(111, 161, 11);
}

#palhaco {
    border: 2px solid rgb(5, 172, 5);
}

#face-main {
    text-align: center;
    margin-top: 40px;
    background-color: rgb(180, 178, 178);
    border-radius: 5px;
    padding: 25px;
    margin-left: 250px;
    margin-right: 250px;
}